@import 'reset';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', 'Lato', 'Helvetica', sans-serif;
}

img{
    max-width: 100%;
}


@import 'variables';
@import 'grid';

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@import 'nav';
